.container{
  padding: 9px;
  @media screen and (min-width:768px) {
    padding: 29px 260px;
  }
}
.jobList{
    list-style: none;
   width: 396px;
  @media screen and (min-width:768px) {
    width: 1400px;
  }
}
